.heading {
    color: #868BA2;
  }

.container {
    padding: 20px;
    margin: 0 2% 0 2%;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .App {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9FB;
  }
  